<a href="https://colab.research.google.com/github/nautiyal-sarthak/tesla-dash/blob/main/aura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Thinks that i want to capture : 

1. Latest Odometer reading

**Summary**
1. Distance traveled per day/Month
2. Trip Efficincy per Day/Month
3. Charign efficincy per day/Month
4. cost to travel 1 km per day/month compared to ice
5. Phantom drain per day/Month

**Details of the charge session**
1. Charge efficincy
2. rate of charge across time 
3. KMs traveled
4. Phantom drain

**Details of trips**
6. elevation 
7. Temprature 
8. efficincy
9. money saved

**Capture Data**

In [ ]:
from google.colab import auth
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
from google.colab import drive
import os



auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
#Constants
total_kwh=50
max_range=400
kwh_per_km = total_kwh/max_range
super_charge_rate_per_kwh = 0.24
level2_rate_per_hour = 1
level1_rate_per_hour = 0.073

fule_price_per_l = 1.20
ice_fule_per_100km = 7 
cost_per_km_ice = ice_fule_per_100km * fule_price_per_l/100

In [ ]:
trip_wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/16BraPT4BMTZZu_8q7DxqlZYI1ITXjnb3MUR5GEB5Qo4/edit#gid=0')
charge_wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1Lq519W-aIu9kERUwDgY1Z6W0xIjChPk7WSf58wM5ZWw/edit#gid=0')
phantom_wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1rvgmptBj0Yec7m6-E8t1V-Mdnv3HI2Fm0Y0qnuwjsnY/edit#gid=0')
master_wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1ShoBS_CPHui4tgtHuYM9KOR3diegqoUuEOR9tUag-eg/edit#gid=863619902')


trip_sheet = trip_wb.sheet1
charge_sheet = charge_wb.sheet1
phantom_sheet = phantom_wb.sheet1
#master_sheet = master_wb.worksheet('Aura_201224')

**Charge Details**

In [ ]:
charge_data = charge_sheet.get_all_values()
charge_df = pd.DataFrame(charge_data,columns=charge_data[0])
charge_df.drop(0,inplace=True)

charge_df.set_index("session_id",inplace=True)
charge_df.index = charge_df.index.astype(int,copy=False)
charge_df = charge_df[charge_df["session_end_time"] != ""]

#inforsing schema
charge_df = charge_df.astype(dtype= {
"session_date":"int64",
"session_start_time":"long",
"session_start_odometer":"float",
"session_start_longitude":"float",
"session_start_latitude":"float",
"session_start_ideal_battery_range":"float",
"session_start_energy_added":"float",
"session_start_battery_range":"float",
"session_start_miles_added_ideal":"float",
"session_start_miles_added_rated":"float",
"session_start_est_battery_range":"float",
"session_start_usable_battery_level":"int64",
"session_start_battery_level":"int64",
"session_end_odometer":"float",
"session_end_longitude":"float",
"session_end_latitude":"float",
"session_end_ideal_battery_range":"float",
"session_end_energy_added":"float",
"session_end_battery_range":"float",
"session_end_miles_added_ideal":"float",
"session_end_miles_added_rated":"float",
"session_end_est_battery_range":"float",
"session_end_usable_battery_level":"int64",
"session_end_battery_level":"int64",
"session_end_time":"long",
"charge_voltage":"string",
"is_free":"string"
})


#adding important cols
charge_df["session_start_time"] = pd.to_datetime(charge_df['session_start_time'], unit='ms').dt.tz_localize("utc").dt.tz_convert('America/Montreal')
charge_df["session_end_time"] = pd.to_datetime(charge_df['session_end_time'], unit='ms').dt.tz_localize("utc").dt.tz_convert('America/Montreal')

#charge level
def charge_lvl(row):
  charge_voltage = int(row['charge_voltage'])

  if charge_voltage <= 150:
      chr_typ = "Level 1"
  elif charge_voltage > 150 and charge_voltage < 450 :
      chr_typ = "Level 2"
  elif charge_voltage >= 450 :
      chr_typ = "Level 3"
  
  return chr_typ

charge_df["charge_level"] = charge_df.apply(charge_lvl, axis=1)

#1. Charge durtion
charge_df["charge_duration"] = (charge_df["session_end_time"] - charge_df["session_start_time"]).dt.total_seconds()

charge_df["session_start_date"] = charge_df["session_start_time"].dt.date


#2. KWh added
charge_df["kwh_added"] = charge_df["session_end_energy_added"] - charge_df["session_start_energy_added"]

#3. Km added
charge_df["km_added"] = (charge_df["session_end_miles_added_ideal"] - charge_df["session_start_miles_added_ideal"]) * 1.60934

#4. Cost
def calCost(row):
  level = row['charge_level']
  is_free = row['is_free']
  duration = row['charge_duration']/(60*60)
  kwh_added = row['kwh_added']
  cost = 0

  if is_free != "TRUE" :
    if level == "Level 3" :
        cost = kwh_added * super_charge_rate_per_kwh
    elif level == "Level 2" :
        cost = duration * level2_rate_per_hour
    elif level == "Level 1" :
        cost = duration * level1_rate_per_hour
  
  return cost


charge_df['cost'] = charge_df.apply(calCost, axis=1)

#5. distance traveled
charge_df["next_session_start"] = charge_df["session_start_odometer"].shift(-1)
charge_df["Actual_Distance_km"] = (charge_df["next_session_start"] - charge_df["session_end_odometer"] )  * 1.60934

#6. Cost per KM traveled
charge_df["cost/km"] = charge_df['cost']/charge_df["Actual_Distance_km"]

In [ ]:
charge_df_cal = charge_df[["session_date","session_start_date","session_start_time","session_end_time","charge_duration","session_start_battery_level","session_end_battery_level","kwh_added","km_added","cost","Actual_Distance_km","cost/km","charge_level"]]

**Trip Details**

In [ ]:
trip_data = trip_sheet.get_all_values()
trip_df = pd.DataFrame(trip_data,columns=trip_data[0])
trip_df.drop(0,inplace=True)
trip_df.set_index("trip_id",inplace=True)
trip_df = trip_df[trip_df["trip_end_time"] != ""]


#inforsing schema
trip_df = trip_df.astype(dtype= {"trip_date":"int64",
"charge_session_id":"int64",
"trip_start_time":"long",
"trip_start_odometer":"float",
"trip_start_longitude":"float",
"trip_start_latitude":"float",
"trip_start_ideal_battery_range":"float",
"trip_start_energy_added":"float",
"trip_start_battery_range":"float",
"trip_start_miles_added_ideal":"float",
"trip_start_miles_added_rated":"float",
"trip_start_est_battery_range":"float",
"trip_start_usable_battery_level":"int64",
"trip_start_battery_level":"int64",
"trip_start_temp":"float",
"trip_end_odometer":"float",
"trip_end_longitude":"float",
"trip_end_latitude":"float",
"trip_end_ideal_battery_range":"float",
"trip_end_energy_added":"float",
"trip_end_battery_range":"float",
"trip_end_miles_added_ideal":"float",
"trip_end_miles_added_rated":"float",
"trip_end_est_battery_range":"float",
"trip_end_usable_battery_level":"int64",
"trip_end_battery_level":"int64",
"trip_end_temp":"float",
"trip_end_time":"long"})

In [ ]:
#TRIP
#creating impotant cols
#1. Convert epoc time to local time
trip_df["trip_start_time"] = pd.to_datetime(trip_df['trip_start_time'], unit='ms').dt.tz_localize("utc").dt.tz_convert('America/Montreal')
trip_df["trip_end_time"] = pd.to_datetime(trip_df['trip_end_time'], unit='ms').dt.tz_localize("utc").dt.tz_convert('America/Montreal')
trip_df["trip_start_date"] = trip_df["trip_start_time"].dt.date

#2. Diffrence of odometer reading - distance traveled
trip_df["distance_traveled"] = (trip_df["trip_end_odometer"] - trip_df["trip_start_odometer"]) * 1.60934

#3. diffence of ideal_battery_range
trip_df["ideal_battery_range_used"] = (trip_df["trip_start_ideal_battery_range"]  - trip_df["trip_end_ideal_battery_range"]) * 1.60934

#7. diffrence of battery_level
trip_df["battery_%_used"] = trip_df["trip_start_battery_level"] - trip_df["trip_end_battery_level"] 

#8. avg of temp
trip_df["avg_temp"] = (trip_df["trip_end_temp"] + trip_df["trip_start_temp"])/2 

#9. duration of the trip
trip_df["duration"] = (trip_df["trip_end_time"] - trip_df["trip_start_time"]).dt.total_seconds()

#10. Trip Efficiency = distance traveled/diffence of ideal_battery_range 
trip_df["efficiency"] = trip_df["distance_traveled"] / trip_df["ideal_battery_range_used"] * 100

#11. max range = trip_end_ideal_battery_range/(trip_end_battery_level/100)
trip_df["max_range"] = (trip_df["trip_end_ideal_battery_range"] / (trip_df["trip_end_battery_level"] / 100)) * 1.60934

#12. max kwh =  max range * kwh_per_km
trip_df["max_kwh"] = trip_df["max_range"] * kwh_per_km

#11. Estimated kwh used =  (max kwh/max range)*distance traveled
trip_df["Estimated_kwh_used"] = (trip_df["battery_%_used"]/100) * trip_df["max_kwh"]

#13. wh/km =  max kwh/max range
trip_df["wh/km"] = trip_df["Estimated_kwh_used"] / trip_df["distance_traveled"] *1000

#14 trip cost
trip_df = trip_df.merge(charge_df_cal,left_on='charge_session_id', right_index=True)
trip_df["cost_ev"] = trip_df["distance_traveled"] * trip_df["cost/km"]

#15 approx cost for ice
trip_df["cost_ice"] = trip_df["distance_traveled"] * cost_per_km_ice

#16 approx cost for ice
trip_df["money_saved"] =  trip_df["cost_ice"] - trip_df["cost_ev"] 

#17 approv distance 
#10. Trip Efficiency = distance traveled/diffence of ideal_battery_range 
trip_df["real_dis"] = (trip_df["efficiency"]/100) * trip_df["max_range"]

In [ ]:
trip_df_cal = trip_df[["charge_session_id","trip_start_date","trip_start_time","trip_end_time","duration","avg_temp","distance_traveled","ideal_battery_range_used","efficiency","Estimated_kwh_used","wh/km","max_range","max_kwh","real_dis","cost_ev","cost_ice","money_saved"]]
trip_df_cal.fillna(0,inplace=True)
trip_df_cal = trip_df_cal[trip_df_cal["ideal_battery_range_used"] > 0]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

**Phantom Discharge**

In [ ]:
phantom_data = phantom_sheet.get_all_values()
phantom_df = pd.DataFrame(phantom_data,columns=phantom_data[0])
phantom_df.drop(0,inplace=True)
phantom_df.set_index("park_id",inplace=True)
phantom_df = phantom_df[phantom_df["park_end_time"] != ""]

#inforsing schema
phantom_df = phantom_df.astype(dtype= {
"park_date":"int64",
"charge_session_id":"int64",
"park_start_time":"long",
"park_start_odometer":"float",
"park_start_longitude":"float",
"park_start_latitude":"float",
"park_start_ideal_battery_range":"float",
"park_start_energy_added":"float",
"park_start_battery_range":"float",
"park_start_miles_added_ideal":"float",
"park_start_miles_added_rated":"float",
"park_start_est_battery_range":"float",
"park_start_usable_battery_level":"int64",
"park_start_battery_level":"int64",
"park_start_temp":"float",
"park_sentry_mode":"string",
"park_end_odometer":"float",
"park_end_longitude":"float",
"park_end_latitude":"float",
"park_end_ideal_battery_range":"float",
"park_end_energy_added":"float",
"park_end_battery_range":"float",
"park_end_miles_added_ideal":"float",
"park_end_miles_added_rated":"float",
"park_end_est_battery_range":"float",
"park_end_usable_battery_level":"int64",
"park_end_battery_level":"int64",
"park_end_temp":"float",
"park_end_time":"long"
})

In [ ]:
#adding important cols
phantom_df["park_start_time"] = pd.to_datetime(phantom_df['park_start_time'], unit='ms').dt.tz_localize("utc").dt.tz_convert('America/Montreal')
phantom_df["park_end_time"] = pd.to_datetime(phantom_df['park_end_time'], unit='ms').dt.tz_localize("utc").dt.tz_convert('America/Montreal')
phantom_df["park_start_date"] = phantom_df["park_start_time"].dt.date

#1. park durtion
phantom_df["duration"] = (phantom_df["park_end_time"] - phantom_df["park_start_time"]).dt.total_seconds()

#2. diffrence of battery_level
phantom_df["battery_%_lost"] = phantom_df["park_start_battery_level"] - phantom_df["park_end_battery_level"]

#3. max range = trip_end_ideal_battery_range/(trip_end_battery_level/100)
phantom_df["max_range"] = (phantom_df["park_end_ideal_battery_range"] / (phantom_df["park_end_battery_level"] / 100)) * 1.60934

#4. max kwh =  max range * kwh_per_km
phantom_df["max_kwh"] = phantom_df["max_range"] * kwh_per_km

#5. Estimated kwh lost =  (max kwh/max range)*distance traveled
phantom_df["Estimated_kwh_lost"] = (phantom_df["battery_%_lost"]/100) * phantom_df["max_kwh"]

#6. avg of temp
phantom_df["avg_temp"] = (phantom_df["park_end_temp"] + phantom_df["park_start_temp"])/2 

#7. rate of energy(wh) loss per hour
phantom_df["wh_loss_rate_per_hr"] = (phantom_df["Estimated_kwh_lost"]*1000)/(phantom_df["duration"]/(60*60))

In [ ]:
phantom_df_cal = phantom_df[["park_date","park_start_date","charge_session_id","park_sentry_mode","park_start_time","park_end_time","duration","avg_temp","battery_%_lost","Estimated_kwh_lost","wh_loss_rate_per_hr"]]

In [ ]:
phantom_df[["park_start_battery_level","park_start_battery_level"]]

         park_start_battery_level  park_start_battery_level
park_id
1                              26                        26
2                              24                        24
3                              23                        23
4                              74                        74
5                              74                        74
...                           ...                       ...
591                            39                        39
592                            38                        38
593                            36                        36
595                            27                        27
596                            23                        23

[517 rows x 2 columns]

**+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++**

In [ ]:
#Writting to Gdrive
if(os.path.exists("/gdrive/My Drive/aura_data/charge.csv")) :
    os.remove("/gdrive/My Drive/aura_data/charge.csv")

if(os.path.exists("/gdrive/My Drive/aura_data/phantom.csv")) :
    os.remove("/gdrive/My Drive/aura_data/phantom.csv")

if(os.path.exists("/gdrive/My Drive/aura_data/trip.csv")):
    os.remove("/gdrive/My Drive/aura_data/trip.csv")


phantom_df_cal.to_csv("/gdrive/My Drive/aura_data/phantom.csv")
charge_df_cal.to_csv("/gdrive/My Drive/aura_data/charge.csv")
trip_df_cal.to_csv("/gdrive/My Drive/aura_data/trip.csv")

In [ ]:
charge_df

            session_date  ...   cost/km
session_id                ...
1                 201225  ...  0.000000
2                 201226  ...  0.385966
3                 201226  ...  0.048649
4                 201228  ...  0.025865
5                 201229  ...  0.063289
...                  ...  ...       ...
69                210407  ...  0.020674
70                210408  ...  0.072077
71                210413  ...  0.363375
72                210413  ...  0.004682
73                210417  ...       NaN

[72 rows x 36 columns]

In [ ]:
trip_df

         trip_date  charge_session_id  ... money_saved    real_dis
trip_id                                ...
1           201227                  3  ...    1.553902  330.521530
2           201228                  3  ...    0.000000         NaN
3           201228                  3  ...    0.010499  138.371596
4           201228                  4  ...    0.000639         inf
5           201228                  4  ...    4.995079  315.278625
...            ...                ...  ...         ...         ...
413         210415                 72  ...    0.133729  214.224917
414         210415                 72  ...    0.092008  295.037352
415         210416                 72  ...    1.496326  390.189416
416         210417                 72  ...    0.037121  216.389588
417         210417                 73  ...         NaN         NaN

[414 rows x 56 columns]

In [ ]:
charge_df_cal

            session_date session_start_date  ...   cost/km charge_level
session_id                                   ...
1                 201225         2020-12-25  ...  0.000000      Level 2
2                 201226         2020-12-26  ...  0.385966      Level 2
3                 201226         2020-12-26  ...  0.048649      Level 2
4                 201228         2020-12-28  ...  0.025865      Level 2
5                 201229         2020-12-29  ...  0.063289      Level 2
...                  ...                ...  ...       ...          ...
69                210407         2021-04-07  ...  0.020674      Level 2
70                210408         2021-04-08  ...  0.072077      Level 2
71                210413         2021-04-13  ...  0.363375      Level 2
72                210413         2021-04-13  ...  0.004682      Level 2
73                210417         2021-04-17  ...       NaN      Level 2

[72 rows x 13 columns]

In [ ]:
trip_df_cal[trip_df_cal["real_dis"] > 100]

         charge_session_id trip_start_date  ...  cost_ice money_saved
trip_id                                     ...
1                        3      2020-12-27  ...  3.692379    1.553902
3                        3      2020-12-28  ...  0.024948    0.010499
5                        4      2020-12-28  ...  7.217430    4.995079
6                        4      2020-12-29  ...  3.898935    2.698396
7                        4      2020-12-29  ...  2.764181    1.913050
...                    ...             ...  ...       ...         ...
412                     72      2021-04-15  ...  0.083076    0.078445
413                     72      2021-04-15  ...  0.141624    0.133729
414                     72      2021-04-15  ...  0.097440    0.092008
415                     72      2021-04-16  ...  1.584656    1.496326
416                     72      2021-04-17  ...  0.039312    0.037121

[303 rows x 17 columns]